<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: student_session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Enrollment_no %><br />
    <%= f.text_field :enrollment_no, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
