<header class="intro">
  <div class="intro-body">
    <div class="body"></div>

    <br> <div class="container">

    <div class="login">
      <%= render 'layouts/loginerror'%>

      <h3>Student login</h3>

      <%= form_for("student", url: student_session_path) do |f| %>
      <fieldset>

        <%= f.text_field :enrollment_no, autofocus: true ,:placeholder => "Enrollment no"%>

        <%= f.password_field :password, autocomplete: "off",:placeholder => "Password"%>

        <%= f.submit "Log in"  %>

      </fieldset>

      <% end %>

    </div>
  </div>
</header>
