<div class="container">
	<% if admin_signed_in? %>
	<h1>welcome Admin <%=current_admin.email%></h1>

	<%= link_to "Logout",  destroy_admin_session_path, :method => :delete   %>
	<%= link_to "Add Teacher",  new_teacher_path %>
	<%= link_to "list teachers", list_teachers_path%>
	<%=link_to "Add Student", new_student_path %>
      <%=link_to "List Student", list_students_path %>
      
	<%end%>
</div>

