<%= form_for @student  do |f| %>
<% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <%end%>
  <div class="field">
    <%= f.label :enrollment_no %><br>
    <%= f.text_field :enrollment_no %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmation_password %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name%><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name%><br>
    <%= f.text_field :last_name  %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth%><br>
     <%= f.date_select :date_of_birth %>
  </div>
   
  <div class="field">
    <%= f.label :address%><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :city%><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :contactno%><br>
    <%= f.telephone_field :contactno %>
  </div>
  <div class="field">
    <%= f.label :standard%><br>
    <%= f.telephone_field :standard_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
