<% if @student.errors.any? %>
    <div id="error_explanation">
           <div class="alert alert-danger">
      <%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:
    </div>
    </div>

<% end %>
<div class="container">
<div class="form-horizontal">
<div class="row">

<div class="login-panel panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <%= @student.first_name.to_s.humanize %>Details</h3>
</div>
<div class="panel-body">
  <div class="col-md-6">
<div class="login-panel panel panel-default">
<div class="panel-body">
  <%= form_for @student,:url => update_student_path, :method=> "patch"  do |f| %>
<fieldset>

   <div class="form-group">
<%= f.label :email,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :email,class: "form-control"  , placeholder: "abc@gmail.com" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:email].empty?
      else
        %>
      <%="Please Enter Valid Email"%>
      <% end %>
    </div>
 </div>
</div>


   <div class="form-group">
<%= f.label :Enrollment_no,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :enrollment_no,class: "form-control"  , placeholder: "Enrollment_no" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:enrollment_no].empty?
      else
        %>
      <%="Please Enter Valid Enrollment_no"%>
      <% end %>
    </div>
 </div>
</div>
  


<div class="form-group">
<%= f.label :Standard_id,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :standard_id,class: "form-control"  , placeholder: "Standard" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:standard_id].empty?
      else
        %>
      <%="Please Enter Standard"%>
      <% end %>
    </div>
 </div>
</div>
<div class="form-group">
<%= f.label :First_Name,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :first_name,class: "form-control"  , placeholder: "First_Name" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:first_name].empty?
      else
        %>
      <%="Please Enter First_Name"%>
      <% end %>
    </div>
 </div>
</div>

<div class="form-group">
<%= f.label :Middle_Name,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :middle_name,class: "form-control"  , placeholder: "Middle_Name" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:middle_name].empty?
      else
        %>
      <%="Please Enter First_Name"%>
      <% end %>
    </div>
 </div>
</div>
<div class="form-group">
<%= f.label :Last_Name,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :last_name,class: "form-control"  , placeholder: "Last_Name" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:last_name].empty?
      else
        %>
      <%="Please Enter Last_Name"%>
      <% end %>
    </div>
 </div>
</div>
</div>
</div>
</div>
</fieldset>

<div class="col-md-6">
<div class="login-panel panel panel-default">
<div class="panel-body">
<fieldset>


<div class="form-group">
<%= f.label :Date_Of_Birth,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :date_of_birth,class: "form-control"  , placeholder: "dd/mm/yy" %>
  <div class='font-color-red'>
      <% if @student.errors.messages[:date_of_birth].empty?
      else
        %>
      <%="Please Enter Birth_Date"%>
      <% end %>
    </div>
 </div>
</div>

  <div class="form-group">
    <%= f.label :Password,class: "col-sm-4"%>
     <div class="col-sm-6">
    <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder => "Password" %>
    <div class='font-color-red'>
      <% if @student.errors.messages[:password].empty?
      else
        %>
      <%="Please Enter Password"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group">
  <%= f.label :Confirm_Password,class: "col-sm-4"%>
     <div class="col-sm-6">
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder => "Confirm Password"%>
     <div class='font-color-red'>
      <% if @student.errors.messages[:password_confirmation].empty?
      else
        %>
      <%="Re-enter Password"%>
      <% end %>
    </div>
 </div>
  </div>


<div class="form-group">
  <%= f.label :Address,class: "col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_area :address,:class => "form-control",:placeholder => "Address"%>
    <div class='font-color-red'>
      <% if @student.errors.messages[:address].empty?
      else
        %>
      <%="Please Enter Address"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group">
  <%= f.label :City,class: "col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_field :city,:class => "form-control",:placeholder => "City"%>
    <div class='font-color-red'>
      <% if @student.errors.messages[:city].empty?
      else
        %>
      <%="Please Enter City"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group">
  <%= f.label :Contact_No,class: "col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_field :contactno,:class => "form-control",:placeholder => "Contact No"%>
    <div class='font-color-red'>
      <% if @student.errors.messages[:contactno].empty?
      else
        %>
      <%="Please Enter Contact no"%>
      <% end %>
    </div>
 </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="actions">
                <%= f.submit "Update student" ,:class => "btn btn-lg btn-success btn-block"  %>
          </div>
  </fieldset>

<% end %>
</div>
</div>
</div>