<div class="container">
	<div class="row"  > 
		<div class="col-sm-offset-5 ol-sm-3" style="position:fixed; top:8%; left:45%;" >
			<h2><span id="countdown" class="timer label label-danger"></span></h2><br>
		</div>
	</div>

	<div class="row">
		<div class=" col-sm-2" >
			<ul class="list-group" style="position:fixed;top:15;left:4%;">
				<li class="list-group-item">
					Enrollment No:<%=current_student.enrollment_no%>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon glyphicon-user"></span>Name : <%=current_student.first_name.capitalize.to_s+" "+current_student.last_name.capitalize.to_s%>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon glyphicon-book"></span> Test: <%=@test.test_name.capitalize%>
				</li>
				<li class="list-group-item">
					<span class="ques badge"> <%=@test.no_of_questions%></span>
					Total Questions
				</li>
				<li class="list-group-item">
					<span class="yes_results badge"> 0</span>
					Question Attempt
				</li>
				<li class="list-group-item">
				  <div class="progress">
				  	<span> </span>
					 <div id="chart"class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="progress"></span>
  					</div>
					</div>
				</li>
				
			</ul>
			
		</div>
		<div class=" col-sm-7" id="test" >
			<%c=0%>
			<%= form_tag(result_path, :id => 'form',method: "post") do %>
			<% @ques.each do |que| %>
			<%c=c+1%>
			<div class="panel panel-default">
				<div class="panel-heading">
					<%=c.to_s+") "+ que.question%>
					<span class="pull-right">
						<input id=<%=que.id%> type="checkbox" checked disabled data-toggle="toggle" data-on="UnTick" data-off="Tick" data-offstyle="success" data-onstyle="danger" data-size="mini" >
					</span>
				</div>
				<div class="panel-body">
					<%id=que.id%>
					<label class="radio-inline">
						<%= radio_button_tag que.id, "A",false,class:"yes",:onclick=>"toggleOffByInput(#{id});"%><%= que.option1%>
					</label>
					<label class="radio-inline"><%= radio_button_tag(que.id, "B",false,class:"yes",:onclick=>"toggleOffByInput(#{id});" )%><%= que.option2%></label>
					<label class="radio-inline"><%= radio_button_tag(que.id, "C",false,class:"yes",:onclick=>"toggleOffByInput(#{id});" )%><%= que.option3%></label>
					<label class="radio-inline"><%= radio_button_tag(que.id, "D",false,class:"yes",:onclick=>"toggleOffByInput(#{id});" )%><%= que.option4%></label>
				</div>
			</div>

			<% end %>
			<%= submit_tag "Submit", class: "btn btn-success "%>
			<%end%>
		</div>
		<div class="col-sm-4" style="position:fixed; top:23%; right:-6%; ">
			<p><a href="#credits" class="toggle btn btn-primary"><span class="glyphicon glyphicon glyphicon-pencil">NoteBook</p></a>
			<div id="credits" >
				<%= text_area_tag "comment", nil,:rows => 20, :cols => 35,:class=>"notebook" %>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Test Information</h4>
				</div>
				<div class="modal-body">
					<p>Test Name :-- <%=@test.test_name.capitalize%></p>
					<p>No of Question :-- <%=@test.no_of_questions%></p>
					<p>Total Time  :--  <%=@test.total_time%></p>

				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-success" data-dismiss="modal" onclick="starttest();">Start Test</button></center>
				</div>
			</div>

		</div>
<script>
		var seconds = 10;
		function secondPassed()
		{
			var minutes = Math.round((seconds - 30)/60);
			var remainingSeconds = seconds % 60;
			if (remainingSeconds < 10)
			{
				remainingSeconds = "0" + remainingSeconds;  
			}
			document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
			if (seconds == 0)
			{
				clearInterval(countdownTimer);
				document.getElementById('countdown').innerHTML = "Time is Up";
				window.alert("Time is Up Test is Submited");
				$('#form').submit();
			}
			else
			{
				seconds--;
			}
		}
//countdownTimer = setInterval('secondPassed()', 1000);

function toggleOffByInput(id) {
	$('#'+id).prop('disabled', false);
	$('#'+id).prop('checked', false).change()
	$('#'+id).prop('disabled', true);
}
$(window).load(function(){
	$('#test').hide();
	$('#myModal').modal('show');
	
});

function starttest()
{
	var	countdownTimer= setInterval('secondPassed()', 1000);
	//document.getElementById("test").style.display = true;
	$('#test').show();
}

</script>
