<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-offset-2 col-sm-10">
				<div class="row">
					<div class="col-sm-3">
					
					<p><span class="glyphicon glyphicon glyphicon-user"></span> Name : <%=current_student.first_name.capitalize.to_s+" "+current_student.last_name.capitalize.to_s%></p></div>
					<div class="col-sm-2">
						<span class="glyphicon glyphicon glyphicon-book"></span> Test: <%=@test.test_name.capitalize%>
						</div>
						<div class="col-sm-3"> 
						<span class="glyphicon glyphicon glyphicon-tasks"></span> Total Questions : <%=@test.no_of_questions%></p></div>
						<div class="col-sm-3"> 
						<span class="glyphicon glyphicon glyphicon-time"></span> Time : <%=@test.total_time%>  Minutes</p></div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-6">
			<%c=0%>
			<%= form_tag(result_students_path, method: "post") do %>
			<% @ques.each do |que| %>
			<%c=c+1%>
			<div class="panel panel-default">
				<div class="panel-heading"><%=c.to_s+") "+ que.question%></div>
				<div class="panel-body">
					<label class="radio-inline"><%= radio_button_tag(que.id, "A") %><%= que.option1%></label>
					<label class="radio-inline"><%= radio_button_tag(que.id, "B") %><%= que.option2%></label>
					<label class="radio-inline"><%= radio_button_tag(que.id, "C") %><%= que.option3%></label>
					<label class="radio-inline"><%= radio_button_tag(que.id, "D") %><%= que.option4%></label>
				</div>
			</div>
			<% end %>
			<%= submit_tag "Submit", class: "btn btn-success "%>
			<%end%>
		</div>
		<div>



		<p><span class="glyphicon glyphicon glyphicon-pencil"></span>Rough Area</p>
		<%= text_area_tag "comment", nil,:rows => 20, :cols => 30 %>
		</div>
	</div>
</div>
