
<div class="vcenter">

<% if admin_signed_in? %>
  <h1>welcome <%=current_admin.email%></h1>

<%= link_to "Logout",  destroy_admin_session_path, :method => :delete   %>
<%end%>



<% if teacher_signed_in? %>
  <h1>welcome <%=current_teacher.email%></h1>

<%= link_to "Logout",  destroy_teacher_session_path, :method => :delete   %>
<%end%>


<%unless admin_signed_in? or teacher_signed_in?%>
<div align="center">
<h1> Sign In </h1>
<%= link_to new_admin_session_path , class: "btn btn-primary" do %>
      <i>Admin Login</i>
      <%end%>
      <%= link_to new_teacher_session_path , class: "btn btn-primary" do %>
      <i>Teacher Login</i>
      <%end%>



</div>
<%end%>
</div>