<%=render 'layouts/loginerror'%>
  <div class="vcenter">
    <% if teacher_signed_in? %>
      <h1>welcome <%=current_teacher.email%></h1>
      <%=link_to "Logout", destroy_admin_session_path, :method=> :delete %>
        <%end%>
          <% if admin_signed_in? %>
            <h1>welcome <%=current_admin.email%></h1>
            <%=link_to "Logout", destroy_admin_session_path, :method=> :delete %>
              <%end%>
                <% if teacher_signed_in? %>
                  <h1>welcome <%=current_teacher.email%></h1>
                  <%= link_to "Logout", destroy_teacher_session_path, :method=> :delete %>
                    <%end%>
                      <%unless admin_signed_in? or teacher_signed_in?%>
                        <div align="center">
                          <h1> Sign In </h1>
                          <%=link_to "Admin Login",new_admin_session_path , class: "btn btn-primary"%>
                            <%=link_to "Teacher Login",new_teacher_session_path , class: "btn btn-primary" %>
                              <%=link_to "Student Login",new_student_session_path,class: "btn btn-primary" %>
                        </div>
                        <%end%>
  </div>