<%= render 'layouts/loginerror'%>

<html>
<script type = "text/javascript">
          function displayNextImage() {
              x = (x === images.length - 1) ? 0 : x + 1;
              document.getElementById("img").src = images[x];
          }

          function displayPreviousImage() {
              x = (x <= 0) ? images.length - 1 : x - 1;
              document.getElementById("img").src = images[x];
          }

          function startTimer() {
              setInterval(displayNextImage, 3000);
          }

          var images = [], x = -1;
          images[0] = "bg.png";
          images[1] = "cu.png";
          images[2] = "su.png";
      </script>
   </head>

  
<div class="home_img">

	<% if admin_signed_in? %>
	<h1>welcome <%=current_admin.email%></h1>

	<%= link_to "Logout",  destroy_admin_session_path, :method => :delete   %>
	<%end%>

	<% if teacher_signed_in? %>
	<h1>welcome <%=current_teacher.email%></h1>

	<%= link_to "Logout",  destroy_teacher_session_path, :method => :delete   %>
	<%end%>

	<%unless admin_signed_in? or teacher_signed_in?%>
	<%= render 'layouts/home_header'%>
	<%end%>
</div>
<div class="home_space">
 <body onload = "startTimer()">
       <img id="img" src="bg.png"  height="600" width="1500"/>
   </body>
</div>
</html>