<div class="container">
  <div class="row">
<div class="col-sm-offset-2 col-sm-5">
        
<ul class="list-group">
<li class="list-group-item list-group-item-info">
    <span class="badge"><%=@result.correct_question.to_i+@result.incorrect_question.to_i%></span>
    Total questions
  </li>
<li class="list-group-item list-group-item-warning">
    <span class="badge"><%=@result.attempted_question%></span>
    Attempted questions
  </li>
 <li class="list-group-item list-group-item-success">
    <span class="badge"><%=@result.correct_question%></span>
    Correct questions
  </li>
  <li class="list-group-item list-group-item-danger">
    <span class="badge"><%=@result.incorrect_question%></span>
    Inorrect questions

  </li>


 


</div>
</div>
      
<% graph_data = {
  "Attempted Questions"=> @result.attempted_question,
  "Correct Question"=> @result.correct_question,
  "Incorrect Question"=> @result.incorrect_question,
  } %>
<%= pie_chart graph_data %>