<<<<<<< HEAD
<div class="container">
 <% if @teacher.errors.any? %>
    <div id="error_explanation">
           <div class="alert alert-danger">
      <%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:
    </div>
    </div>

<% end %>


<div class="form-horizontal">
<div class="row">

 
<div class="login-panel panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Edit Teacher : <%=@teacher.email%></h3>
</div>
<div class="panel-body">


  <div class="col-md-6">
<div class="login-panel panel panel-default">
<div class="panel-body">
  <div class="panel-form">
 <%= form_for @teacher, :url => update_teacher_path,:method => "patch" do |f| %>
<fieldset>

  
<div class="form-group <%= 'has-error' if @teacher.errors.messages[:email].present? %>">
  <%= f.label :Email,class: "col-sm-4"%>
     <div class="col-sm-8">
   <%= f.email_field :email, autofocus: true ,:class => "form-control",:placeholder => "abc@gmail.com"%>
  <div class='font-color-red'>
      <% if @teacher.errors.messages[:email].present? %>
      <%="Please enter valid email"%>
=======
<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= pluralize(@teacher.errors.count, "error") %> prohibited this student from being saved:
    </div>
     
     <%end%>


<div class="row">
   <div class="form-horizontal">


<%= form_for @teacher, :url => update_teacher_path,:method => "patch" do |f| %>



  <div class="col-md-6">
   <div class="form-group">
<%= f.label :email,class: "col-sm-4"%>
     <div class="col-sm-6">
  <%= f.text_field :email,class: "form-control"  , placeholder: "Enter Email ID" %>
  <div class='font-color-red'>
      <% if @teacher.errors.messages[:email].empty?
      else
        %>
      <%="Enter Email ID"%>
>>>>>>> Teacher_Design
      <% end %>
    </div>
 </div>
</div>
<<<<<<< HEAD

<div class="form-group <%= 'has-error' if @teacher.errors.messages[:first_name].present? %>">
  <%= f.label :First_Name,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.text_field :first_name,:class => "form-control",:placeholder => "First Name"%>
    <div class='font-color-red'>
      <% if @teacher.errors.messages[:first_name].present?%>
      <%="Please enter first name"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group <%= 'has-error' if @teacher.errors.messages[:middle_name].present? %>">
   <%= f.label :Middle_Name,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.text_field :middle_name,:class => "form-control",:placeholder => "Middle Name"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:middle_name].present?%>
      <%="Please enter middle name"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group <%= 'has-error' if @teacher.errors.messages[:last_name].present? %>">
   <%= f.label :Last_Name,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.text_field :last_name,:class => "form-control",:placeholder => "Last Name"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:last_name].present?%>
      <%="Please enter last name"%>
      <% end %>
    </div>
 </div>
=======

  <div class="form-group">
    <%= f.label :first_name,class:"col-sm-4" %>
     <div class="col-sm-6">
    <%= f.text_field :first_name, class: "form-control"  , placeholder: "Enter First name" %>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:first_name].empty?
      else
        %>
      <%="Please Enter Your First name"%>
      <% end %>
    </div>
  </div>
</div>

  <div class="form-group">
    <%= f.label :middle_name ,class:"col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_field :middle_name ,class: "form-control"  , placeholder: "Enter Middle name" %>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:middle_name].empty?
      else
        %>
      <%="Please Enter Your Middle name"%>
      <% end %>
    </div>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name,class:"col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_field :last_name ,class: "form-control"  , placeholder: "Enter Last name" %>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:last_name].empty?
      else
        %>
      <%="Please Enter Your Last name"%>
      <% end %>
    </div>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth,class:"col-sm-4"%>
       <div class="col-sm-6">
     <%= f.date_select :dateofbirth ,class: "form-control"  , placeholder: "Enter Date of Birth"%>
      <div class='font-color-red'>
      <% if @teacher.errors.messages[:dateofbirth].empty?
      else
        %>
      <%="Please Enter Your date of birth "%>
      <% end %>
    </div>
  </div>
</div>
  
  <div class="form-group">
    <%= f.label :address,class:"col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_area :address, class: "form-control"  , placeholder: "Enter Address"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:address].empty?
      else
        %>
      <%="Please Enter Your Address"%>
      <% end %>
    </div>
>>>>>>> Teacher_Design
  </div>
</div>
</div>

<<<<<<< HEAD
<div class="form-group <%= 'has-error' if @teacher.errors.messages[:first_name].present? %>">
   <%= f.label :Birth_date,class: "col-sm-4"%>
     <div class="col-sm-8">
      <%= f.date_field :dateofbirth,:class => "form-control",:placeholder => "dd/mm/yy"%>
       <div class='font-color-red'>
      <% if @teacher.errors.messages[:dateofbirth].present?%>
      <%="Please enter birth date"%>
      <% end %>
    </div>
 </div>
=======
  <div class="col-md-6">
  <div class="form-group">
    <%= f.label :city,class:"col-sm-4"%>
     <div class="col-sm-6">
    <%= f.text_field :city ,class: "form-control"  , placeholder: "Enter City"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:city].empty?
      else
        %>
      <%="Please Enter Your City"%>
      <% end %>
    </div>
>>>>>>> Teacher_Design
  </div>
</div>

<<<<<<< HEAD
</fieldset>
</div>
</div>
</div>
</div>


 <div class="col-md-6">
<div class="login-panel panel panel-default">

<div class="panel-body">
  <div class="panel-form">
<fieldset>
<div class="form-group <%= 'has-error' if @teacher.errors.messages[:address].present? %>">
   <%= f.label :Address,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.text_area :address,:class => "form-control",:placeholder => "Address"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:address].present?%>
      <%="Please enter address"%>
      <% end %>
    </div>
 </div>
=======
  <div class="form-group">
    <%= f.label :contactno,class:"col-sm-4"%>
     <div class="col-sm-6">
    <%= f.telephone_field :contactno ,class: "form-control"  , placeholder: "Enter Contact no."%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:first_name].empty?
      else
        %>
      <%="Contact number should be of 10 characters and can't be blank"%>
      <% end %>
    </div>
>>>>>>> Teacher_Design
  </div>
  </div>

 
  <div class="form-group">
    <%= f.label :password,class: "col-sm-4"%>
    <div class="col-sm-6">
    <%= f.password_field :password,class: "form-control"  , placeholder: "Enter Password" %>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:password].empty?
      else
        %>
      <%="Please Enter Your Password"%>
      <% end %>
    </div>

<<<<<<< HEAD
<div class="form-group <%= 'has-error' if @teacher.errors.messages[:city].present? %>">
   <%= f.label :City,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.text_field :city,:class => "form-control",:placeholder => "City"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:city].present? %>
      <%="Please enter city"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group <%= 'has-error' if @teacher.errors.messages[:contactno].present? %>">
   <%= f.label :Contact_No,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.text_field :contactno,:class => "form-control",:placeholder => "Contact No"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:contactno].present? %>
      <%="Please contact no"%>
      <% end %>
    </div>
 </div>
  </div>

  <div class="form-group <%= 'has-error' if @teacher.errors.messages[:password].present? %>">
  <%= f.label :Password,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder => "Maximum 8 character" %>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:password].present? %>
      <%="Please enter password"%>
      <% end %>
    </div>
 </div>
  </div>

<div class="form-group <%= 'has-error' if @teacher.errors.messages[:password_confirmation].present? %>">
   <%= f.label :Confirm_Password,class: "col-sm-4"%>
     <div class="col-sm-8">
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder => "Repeat Password"%>
    <div class='font-color-red'>
      <% if @teacher.errors.messages[:password_confirmation].present? %>
      <%="Please enter valid password"%>
      <% end %>
    </div>
 </div>
  </div>
  </div>
</div>
</div>
</div>
<div class="actions">
    <%= f.submit "Update",:class => "btn btn-success "%>
    <%= link_to "Back",admin_welcome_path,:class=>"btn btn-success"%>
=======
      </div>
  </div>

  <div class="form-group">
    <%= f.label :confirmation_password,class:"col-sm-4"%>
    <div class="col-sm-6">
    <%= f.password_field :password_confirmation ,class: "form-control"  , placeholder: "Enter Confirmation password"%>
     <div class='font-color-red'>
      <% if @teacher.errors.messages[:first_name].empty?
      else
        %>
      <%="Please Enter Confirmation password"%>
      <% end %>
    </div>
  </div>
  </div>

>>>>>>> Teacher_Design
  </div>
  
  </div>

<<<<<<< HEAD
<% end %>
</div>
</div>

</div>
</div>
=======
  <div class="actions">
     <div class="col-sm-12 text-center">
     <%= f.submit "Update",:class => "btn btn-success"%>
    <%= link_to "Cancel",admin_teacher_list_path, class: "btn btn-danger"%>
  
    <% end %>
  </div>
>>>>>>> Teacher_Design
</div>
