<div class="container">
  <% if teacher_signed_in? %>
    <h1>welcome Teacher <%=current_teacher.email%></h1>
      <%=link_to "Add Student", new_student_path %>
      <%=link_to "List Student", list_students_path %>
       <%=link_to "test",tests_path%>
       
       <%=link_to "Logout", destroy_teacher_session_path, :method=> :delete %>
  <%end%>
   <h1>Two Student Performance Compare</h1>
  <%
  stu_1=Student.find(7).first_name
  stu_1_res=Student.find(7).results
  percentage=stu_1_res.average(:percentage)
  stu_2=Student.find(8).first_name
  stu_2_res=Student.find(8).results
  percentage1=stu_2_res.average(:percentage)
 %>
 <% graph_data=
  { 
    stu_1=> percentage,
      stu_2=> percentage1,
    }
 %>
<%= column_chart graph_data ,width: "250px", height: "200px"%>



 <div class="row">
    <div class="col-md-6">
      <h1>Test Data</h1>
      <div class="table-responsive">

<table border="2"  class="table table-striped table-bordered table-hover" >
          <thead>

            <tr><th>Test_Name</th>
          
              <th>No of Student Attempted</th>
          
            </tr> 
          </thead>
          <tbody>
            <% current_teacher.tests.joins(:results).distinct.each do |test| %>
            <tr>
            <td><%=test.test_name  %></td>
              <td><%= Test.where(:id=>test.id).joins(:results).count%></td>
              <% end %>
          </table>
          </div>
      </div>
    
       <div class="col-md-6">
      
     <h2> how many student attend the test</h2>
<% g_data=current_teacher.tests.joins(:results).distinct.group(:test_name).count(:student_id) %>
<%= column_chart g_data ,label:"Attended Test",width: "250px", height: "200px"  %>
          </div>

        <div class="row">
    <div class="col-md-6">
      <h1>Student name and percentage</h1>
      <div class="table-responsive">

<table border="2"  class="table table-striped table-bordered table-hover" >
          <thead>

            <tr><th>First Name</th>
          
              <th>Percentage</th>
          
            </tr> 
          </thead>
          <tbody>
            <% Result.joins(:student).select(:first_name).group(:first_name,:student_id).average(:percentage).each do |k,v| %>
            <tr>
            <td><%= k[0] %></td>
            
              <td><%=v %></td>
              
            <% end %>
          </table>
          </div>
      </div>
    
       <div class="col-md-6">
      
     <h1> all student result average </h1>
<%data1=Result.group(:student_id).average(:percentage)%>

        <%=column_chart data1 ,width: "250px", height: "200px" %>
          </div>
             </div>

             </div>