<div class="container">

<div class="col-md-12">
  <div class="profile-content">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <i class="glyphicon glyphicon-th-list"></i> Student List Profile</h3>
        </div>
        <% Student.all.each do |student| %>
        <div class="panel-body">

          <div class="col-md-2">
            <div class="thumbnail">
              <%=  image_tag("/avatars/students/originals/" + student.avatar_file_name) %> 
            </div>
          </div>
          <div class="row">
          <div class="col-md-6">
           <div class="row mgbt-xs-0">
                <label class="col-xs-3 control-label">Enrollment No:</label><%=student.enrollment_no%>
           </div>
            <div class="row mgbt-xs-0">
              <label class="col-xs-3 control-label">First Name:</label><%=student.first_name%>
            </div>
           <div class="row mgbt-xs-0">
              <label class="col-xs-3 control-label">Last Name:</label><%=student.last_name%>
           </div>
           <div class="row mgbt-xs-0">      
             <label class="col-xs-3 control-label">Email ID:</label><%=student.email%>
           </div>
        </div>
      </div>
    </div>
  <%end%>
</div>