<header class="intro">
  <div class="intro-body">
    <div class="body"></div>

    <br> <div class="container">

    <div class="login">
      <%= render 'layouts/loginerror'%>
      <h3>Teacher login</h3>

          <%= form_for(resource, as: resource_name, url: teacher_session_path) do |f| %>
          <fieldset>
              <%= f.email_field :email, autofocus: true,:placeholder => "abc@gmail.com" %>
              <%= f.password_field :password, autocomplete: "off",:placeholder => "Password" %>
             <%= f.submit "Log in" %>
            

          </fieldset>
          <% end %>
</div>
    </div>
  </header>
