<div class="container">
  <% if @test.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger"> <a href="" class="close" data-dismiss="alert" aria-    label="close">&times;</a>
      <%=pluralize(@test.errors.count, "error") %> prohibited this test from being save
    </div>
  </div>
  <% end %>

  <div class="form-horizontal">
    <div class="row">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Test</h3>
        </div>
        <div class="panel-body">

          <%=form_for @test do |f| %>
          <fieldset>
   
   <div class="form-group <%= 'has-error' if @test.errors.messages[:standard_id].present? %>">
                      <%= f.label "Standard",class: "col-sm-4"%>
                      <div class="col-sm-8">
                       
                        <%=select_tag 'standard_id',options_for_select(Standard.pluck(:name),:class => "form-control")%>   
                        <div class='text-danger'>
                        <% if @test.errors.messages[:standard_id].present? %>
                        <%=@test.errors.full_messages_for(:standard_id).first%>
                        <% end %>
                      </div>
                    </div>
                  </div>

           <div class="form-group <%= 'has-error' if @test.errors.messages[:subject_id].present? %>">
                      <%= f.label :"Subject",class: "col-sm-4"%>
                      <div class="col-sm-8">
                        <%=select_tag 'subject_id', options_for_select(Subject.pluck(:sub_name),{class: "form-control"})%>   
                        <div class='text-danger'>
                        <% if @test.errors.messages[:subject].present? %>
                        <%=@test.errors.full_messages_for(:subject_id).first%>
                        <% end %>
                      </div>
                    </div>
                  </div>

            <div class="form-group <%= 'has-error' if @test.errors.messages[:test_name].present? %>">
              <%=f.label "Test name",class: "col-sm-4"%>
              <div class="col-sm-8">
                <%=f.text_field :test_name, class: "form-control" , placeholder: "Enter Test name" %>
                <div class='text-danger'>
                  <% if @test.errors.messages[:test_name].present? %>
                  <%=@test.errors.full_messages_for(:test_name).first%>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="form-group <%= 'has-error' if @test.errors.messages[:test_datetime].present? %>">
              <%=f .label "Date and Time",class: "col-sm-4"%>
              <div class="col-sm-8">
                <%=f.text_field :test_datetime,class: "form-control datepicker" , placeholder: "Enter Test Date and Time" %>
                <div class='text-danger'>
                  <% if @test.errors.messages[:test_datetime].present? %>
                  <%=@test.errors.full_messages_for(:test_datetime).first%>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="form-group <%= 'has-error' if @test.errors.messages[:total_time].present? %>">
              <%=f.label "Total time",class: "col-sm-4"%>
              <div class="col-sm-8">
                <%=f .text_field :total_time,class: "form-control" , placeholder: "Enter total time for test in minutes" %>
                <div class='text-danger'>
                  <% if @test.errors.messages[:total_time].present? %>
                  <%=@test.errors.full_messages_for(:total_time).first%>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="form-group <%= 'has-error' if @test.errors.messages[:no_of_questions].present? %>">
              <%=f.label "No of Questions",class: "col-sm-4"%>
              <div class="col-sm-8">
                <%=f.text_field "no_of_questions",class: "form-control" , placeholder: "Enter No of Questions" %>
                <div class='text-danger'>
                  <% if @test.errors.messages[:no_of_questions].present? %>
                  <%=@test.errors.full_messages_for(:no_of_questions).first%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="col-sm-12 text-center">
        <%=f .submit "Create Test" ,:class=> "btn btn-success " %> 
      </div>
    </div>
    <% end %>
  </div>